<!--  To add a third party script, create a file named head_custom.html in a
layouts/partials/ folder at the root of your website (not in the themes folder).
Any HTML code added to this file will be included within your website’s <head>.
Therefore, it’s suitable for adding custom metadata or third party scripts
specified with the async attribute.

Whereas for your own local scripts, you can link your local JS assets
(relative to your root static/js) from your config.toml using
custom_js = ["custom.js"].
 -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
